name: readme workflow
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  workflow_dispatch:
jobs:
  README:
    uses: clouddrove/github-shared-workflows/.github/workflows/readme.yml@master
    secrets: inherit
    secrets:
      #TOKEN : ${{ secrets.GITHUB_TOKEN }}
      SLACK_WEBHOOK_TERRAFORM: ${{ secrets.SLACK_WEBHOOK_TERRAFORM }}