name: readme workflow
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  README:
    uses: clouddrove/github-shared-workflows/.github/workflows/readme.yml@master
    secrets:
      TOKEN : ${{ secrets.GITHUB }}
      SLACK_WEBHOOK_TERRAFORM: 